In [3]:
import os
import pandas as pd
import numpy as np
from llama_index.core import SimpleDirectoryReader

In [4]:
import json

# Specify the path to the file
file_path = r'C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_APRIL.json'

# Open and load the JSON file
with open(file_path, 'r') as file:
    data = json.load(file)

# Print a sample of the data to verify
print(json.dumps(data, indent=4)[:500])  # Print first 500 characters

{
    "timelineObjects": [
        {
            "activitySegment": {
                "startLocation": {
                    "latitudeE7": 329932296,
                    "longitudeE7": -967526711,
                    "sourceInfo": {
                        "deviceTag": -1349438752
                    }
                },
                "endLocation": {
                    "latitudeE7": 329980399,
                    "longitudeE7": -967689368,
                    "sourceInfo": {

In [5]:
for dirname, _, filenames in os.walk(r'C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_APRIL.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_AUGUST.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_DECEMBER.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_FEBRUARY.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_JANUARY.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_JULY.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_JUNE.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_MARCH.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_MAY.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_NOVEMBER.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_OCTOBER.json
C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023\2023_SEPTEMBER.json

In [6]:
import os
import json

data_list = []

for dirname, _, filenames in os.walk(r'C:\Users\91944\Downloads\AWS\gmap_Rag\Takeout\Location History (Timeline)\Semantic Location History\2023'):
    for filename in filenames:
        if filename.endswith('.json'):  # Ensure it's a JSON file
            file_path = os.path.join(dirname, filename)
            with open(file_path, 'r', encoding='utf-8') as file:
                data = json.load(file)
                data_list.append(data)

# Print the total number of files processed
print(f"Processed {len(data_list)} files.")

Processed 12 files.

In [7]:
# Lists to store extracted data
place_visits = []
activity_segments = []

# Iterate through the data_list (assuming data_list contains the raw data in the required format)
for i in range(12):
    for entry in data_list[i].get('timelineObjects', []):
        if 'placeVisit' in entry:
            place_visit = entry['placeVisit']
            place_visits.append({
                'latitude': place_visit['location'].get('latitudeE7', None) / 1e7,
                'longitude': place_visit['location'].get('longitudeE7', None) / 1e7,
                'place_id': place_visit['location'].get('placeId', None),
                'address': place_visit['location'].get('address', None),
                'start_timestamp': place_visit['duration'].get('startTimestamp', None),
                'end_timestamp': place_visit['duration'].get('endTimestamp', None),
                'location_confidence': place_visit.get('locationConfidence', None),
                'visit_confidence': place_visit.get('visitConfidence', None),
            })
        
        if 'activitySegment' in entry:
            activity_segment = entry['activitySegment']
            activity_segments.append({
                'start_latitude': activity_segment['startLocation'].get('latitudeE7', None) / 1e7,
                'start_longitude': activity_segment['startLocation'].get('longitudeE7', None) / 1e7,
                'end_latitude': activity_segment['endLocation'].get('latitudeE7', None) / 1e7,
                'end_longitude': activity_segment['endLocation'].get('longitudeE7', None) / 1e7,
                'start_timestamp': activity_segment['duration'].get('startTimestamp', None),
                'end_timestamp': activity_segment['duration'].get('endTimestamp', None),
                'distance': activity_segment.get('distance', None),
                'activity_type': activity_segment.get('activityType', None),
                'confidence': activity_segment.get('confidence', None),
            })

# Convert the lists to DataFrames
place_visits_df = pd.DataFrame(place_visits)
activity_segments_df = pd.DataFrame(activity_segments)

# Display the DataFrames
print("Place Visits Table:")
#print(place_visits_df)

print("\nActivity Segments Table:")
#print(activity_segments_df)

Place Visits Table:

Activity Segments Table:

In [8]:
# Print DataFrames
print("Place Visits:")
print(place_visits_df)
print("\nActivity Segments:")
print(activity_segments_df)

Place Visits:
      latitude  longitude                     place_id  \
0    32.998563 -96.769852  ChIJlUIIxBciTIYRJ1BkpUz-9QA
1    33.004202 -96.771651  ChIJsXzjiRUiTIYRFWVIzCBQ1Bc
2    32.998563 -96.769852  ChIJlUIIxBciTIYRJ1BkpUz-9QA
3    32.985697 -96.750247  ChIJpUpeif8hTIYRMROq6TKLCdk
4    32.998563 -96.769852  ChIJlUIIxBciTIYRJ1BkpUz-9QA
..         ...        ...                          ...
910  32.993592 -96.750252  ChIJxblxuDSgToYRcn4cxwiPeVU
911  32.985697 -96.750247  ChIJpUpeif8hTIYRMROq6TKLCdk
912  32.998563 -96.769852  ChIJlUIIxBciTIYRJ1BkpUz-9QA
913  33.004202 -96.771651  ChIJsXzjiRUiTIYRFWVIzCBQ1Bc
914  32.998563 -96.769852  ChIJlUIIxBciTIYRJ1BkpUz-9QA

                                            address           start_timestamp  \
0          7575 Frankford Rd, Dallas, TX 75252, USA  2023-04-01T01:04:38.927Z
1                 425 Coit Rd, Plano, TX 75075, USA  2023-04-01T02:41:01.332Z
2          7575 Frankford Rd, Dallas, TX 75252, USA  2023-04-01T03:20:53.553Z
3      800 W Campbell Rd, Richardson, TX 75080, USA  2023-04-01T18:26:08.835Z
4          7575 Frankford Rd, Dallas, TX 75252, USA  2023-04-02T01:24:41.611Z
..                                              ...                       ...
910  3000 Northside Blvd, Richardson, TX 75080, USA  2023-09-30T18:40:48.032Z
911    800 W Campbell Rd, Richardson, TX 75080, USA  2023-09-30T19:12:05.585Z
912        7575 Frankford Rd, Dallas, TX 75252, USA  2023-09-30T20:17:07.756Z
913               425 Coit Rd, Plano, TX 75075, USA  2023-09-30T21:56:39.524Z
914        7575 Frankford Rd, Dallas, TX 75252, USA  2023-09-30T22:16:38.278Z

                end_timestamp  location_confidence  visit_confidence
0    2023-04-01T02:34:07.602Z                   48                84
1    2023-04-01T03:16:14.978Z                   83                92
2    2023-04-01T18:01:45.261Z                   45                96
3    2023-04-02T00:57:32.157Z                   57                96
4    2023-04-02T10:36:43.460Z                   43                96
..                        ...                  ...               ...
910  2023-09-30T19:02:55.164Z                   42                92
911  2023-09-30T20:01:49.834Z                   63                77
912  2023-09-30T21:53:37.869Z                   68                78
913  2023-09-30T22:13:12.006Z                   82                91
914  2023-10-01T15:05:52.974Z                   70                91

[915 rows x 8 columns]

Activity Segments:
      start_latitude  start_longitude  end_latitude  end_longitude  \
0          32.993230       -96.752671     32.998040     -96.768937
1          32.998462       -96.769793     33.003861     -96.770421
2          33.003794       -96.771146     32.998320     -96.769430
3          32.997971       -96.768856     32.987089     -96.748480
4          32.984000       -96.749578     32.998376     -96.770021
...              ...              ...           ...            ...
1010       32.985014       -96.747746     32.993521     -96.750719
1011       32.993517       -96.750632     32.986913     -96.750220
1012       32.985998       -96.748669     32.999101     -96.770573
1013       32.997929       -96.769560     33.004590     -96.771091
1014       33.004538       -96.771097     32.999008     -96.769773

               start_timestamp             end_timestamp  distance  \
0     2023-04-01T00:58:54.904Z  2023-04-01T01:04:38.927Z    1869.0
1     2023-04-01T02:34:07.602Z  2023-04-01T02:41:01.332Z    1345.0
2     2023-04-01T03:16:14.978Z  2023-04-01T03:20:53.553Z     761.0
3     2023-04-01T18:01:45.261Z  2023-04-01T18:26:08.835Z    4779.0
4     2023-04-02T00:57:32.157Z  2023-04-02T01:24:41.611Z    5383.0
...                        ...                       ...       ...
1010  2023-09-30T18:25:47.474Z  2023-09-30T18:40:48.032Z    1103.0
1011  2023-09-30T19:02:55.164Z  2023-09-30T19:12:05.585Z     749.0
1012  2023-09-30T20:01:49.834Z  2023-09-30T20:17:07.756Z    5111.0
1013  2023-09-30T21:53:37.869Z  2023-09-30T21:56:39.524Z     947.0
1014  2023-09-30T22:13:12.006Z  2023-09-30T22:16:38.278Z     627.0

             activity_type confidence
0                   IN_BUS     MEDIUM
1     IN_PASSENGER_VEHICLE       HIGH
2     IN_PASSENGER_VEHICLE     MEDIUM
3                  CYCLING        LOW
4                   IN_BUS        LOW
...                    ...        ...
1010               WALKING       HIGH
1011               WALKING       HIGH
1012  IN_PASSENGER_VEHICLE        LOW
1013  IN_PASSENGER_VEHICLE       HIGH
1014  IN_PASSENGER_VEHICLE       HIGH

[1015 rows x 9 columns]

In [9]:
import pandas as pd

def extract_place_visits(timeline_objects):
    """
    Extract place visits from timeline objects and return a DataFrame.
    
    Parameters:
    timeline_objects (list): List of timeline objects containing place visits.

    Returns:
    pd.DataFrame: DataFrame with place visit details.
    """
    place_visits = []
    for entry in timeline_objects:
        if 'placeVisit' in entry:
            place_visit = entry['placeVisit']
            # Extracting data
            visit_data = {
                'latitude': place_visit['location'].get('latitudeE7', None) / 1e7,
                'longitude': place_visit['location'].get('longitudeE7', None) / 1e7,
                'place_id': place_visit['location'].get('placeId', None),
                'address': place_visit['location'].get('address', None),
                'start_timestamp': place_visit['duration'].get('startTimestamp', None),
                'end_timestamp': place_visit['duration'].get('endTimestamp', None),
                'location_confidence': place_visit.get('locationConfidence', None),
                'visit_confidence': place_visit.get('visitConfidence', None),
            }
            
            # Extract highest probability candidate from otherCandidateLocations
            other_candidates = place_visit.get('otherCandidateLocations', [])
            if other_candidates:
                highest_prob_candidate = max(
                    other_candidates, 
                    key=lambda x: x.get('calibratedProbability', 0)
                )
                visit_data['highest_prob_place_name'] = highest_prob_candidate.get('name', None)
                visit_data['highest_prob_probability'] = highest_prob_candidate.get('calibratedProbability', None)
            else:
                visit_data['highest_prob_place_name'] = None
                visit_data['highest_prob_probability'] = None
            
            place_visits.append(visit_data)
    return pd.DataFrame(place_visits)

In [10]:
def extract_activity_segments(timeline_objects):
    """
    Extract activity segments from timeline objects and return a DataFrame.
    
    Parameters:
    timeline_objects (list): List of timeline objects containing activity segments.

    Returns:
    pd.DataFrame: DataFrame with activity segment details.
    """
    activity_segments = []
    for entry in timeline_objects:
        if 'activitySegment' in entry:
            activity_segment = entry['activitySegment']
            activity_segments.append({
                'start_latitude': activity_segment['startLocation'].get('latitudeE7', None) / 1e7,
                'start_longitude': activity_segment['startLocation'].get('longitudeE7', None) / 1e7,
                'end_latitude': activity_segment['endLocation'].get('latitudeE7', None) / 1e7,
                'end_longitude': activity_segment['endLocation'].get('longitudeE7', None) / 1e7,
                'start_timestamp': activity_segment['duration'].get('startTimestamp', None),
                'end_timestamp': activity_segment['duration'].get('endTimestamp', None),
                'distance': activity_segment.get('distance', None),
                'activity_type': activity_segment.get('activityType', None),
                'confidence': activity_segment.get('confidence', None),
            })
    return pd.DataFrame(activity_segments)

In [11]:
def process_timeline_data(data_list):
    """
    Process the entire dataset to extract place visits and activity segments.

    Parameters:
    data_list (list): List of raw data containing timeline objects.

    Returns:
    tuple: Two DataFrames - place_visits_df and activity_segments_df.
    """
    place_visits = []
    activity_segments = []

    # Iterate through data_list and process timeline objects
    for i in range(len(data_list)):
        timeline_objects = data_list[i].get('timelineObjects', [])
        place_visits.append(extract_place_visits(timeline_objects))
        activity_segments.append(extract_activity_segments(timeline_objects))

    # Combine all results into DataFrames
    place_visits_df = pd.concat(place_visits, ignore_index=True)
    activity_segments_df = pd.concat(activity_segments, ignore_index=True)
    
    return place_visits_df, activity_segments_df

In [12]:
# Example usage
place_visits_df, activity_segments_df = process_timeline_data(data_list)

In [13]:
def extract_address_details(address):
    try:
        # Check if address is valid
        if not address or pd.isna(address) or address == "None":
            return pd.Series(["Unknown", "Unknown", "Unknown", "Unknown"])

        # Split by comma
        parts = address.split(", ")
        country = parts[-1] if len(parts) > 0 else "Unknown"
        state_zip = parts[-2] if len(parts) > 1 else "Unknown"
        city = parts[-3] if len(parts) > 2 else "Unknown"

        # Parse state and zip code
        if " " in state_zip:
            state, zipcode = state_zip.rsplit(" ", 1)
        else:
            state, zipcode = state_zip, "Unknown"

        return pd.Series([city, state, zipcode, country])
    except Exception as e:
        print(f"Error parsing address: {e}")
        return pd.Series(["Unknown", "Unknown", "Unknown", "Unknown"])

In [14]:
# Apply the function to the DataFrame
place_visits_df[["city", "state", "zipcode", "country"]] = place_visits_df["address"].apply(extract_address_details)

# Display the updated DataFrame
#print(place_visits_df)

In [15]:
# Display unique values for the last 4 columns
print("Unique values in the last 4 columns of Place Visits Table:")
for col in place_visits_df.iloc[:, -4:].columns:
    print(f"Column '{col}': {place_visits_df[col].unique()}")

Unique values in the last 4 columns of Place Visits Table:
Column 'city': ['Dallas' 'Plano' 'Richardson' 'Frisco' 'Irving' 'Unknown' 'Chicago'
 'New Delhi' 'Bengaluru' 'Chennai' 'Koyambedu' 'Austin' 'SeaTac'
 'Bellevue' 'Redmond' 'Fall City' 'Snoqualmie' 'North Bend' 'Issaquah'
 'Lake Stevens' 'Auburn' 'Seattle' 'Allen' 'McKinney']
Column 'state': ['TX' 'Unknown' 'IL' 'Delhi' 'Karnataka' 'Tamil Nadu' 'Chennai' 'WA'
 'Washington']
Column 'zipcode': ['75252' '75075' '75080' '75035' '75039' '75034' '75024' '75248' 'Unknown'
 '75093' '75287' '75261' '60666' '110037' '534320' '560023' '600003'
 '600107' '600017' '600101' '600092' '600037' '600050' '600008' '600034'
 '75074' '75023' '75025' '75249' '75211' '75207' '75205' '75202' '75223'
 '78754' '78702' '78701' '78758' '78724' '78731' '75234' '98158' '98004'
 '98052' '98024' '98065' '98005' '98007' '98045' '98027' '98258' '98001'
 '98118' '98109' '98119' '98116' '75013' '75070' '75072' '75243' '75231'
 '75082']
Column 'country': ['USA' 'Unknown' 'India' 'Tamil Nadu 600107']

In [16]:
# Adjust display options for wide output
pd.set_option('display.max_colwidth', None)  # Prevent truncation of column content
pd.set_option('display.width', 0)  # Auto-adjust display width to prevent wrapping

# Display results
print("Place Visits Table:")
print(place_visits_df[place_visits_df['city'] == 'Unknown']['address'])

Place Visits Table:
130                       None
222    Karnataka 534320, India
326                       None
336                       None
656            Washington, USA
Name: address, dtype: object

In [17]:
print("\nActivity Segments Table:")
activity_segments_df.head()

Activity Segments Table:

,start_latitude,start_longitude,end_latitude,end_longitude,start_timestamp,end_timestamp,distance,activity_type,confidence
0,32.993230,-96.752671,32.998040,-96.768937,2023-04-01T00:58:54.904Z,2023-04-01T01:04:38.927Z,1869.0,IN_BUS,MEDIUM
1,32.998462,-96.769793,33.003861,-96.770421,2023-04-01T02:34:07.602Z,2023-04-01T02:41:01.332Z,1345.0,IN_PASSENGER_VEHICLE,HIGH
2,33.003794,-96.771146,32.998320,-96.769430,2023-04-01T03:16:14.978Z,2023-04-01T03:20:53.553Z,761.0,IN_PASSENGER_VEHICLE,MEDIUM
3,32.997971,-96.768856,32.987089,-96.748480,2023-04-01T18:01:45.261Z,2023-04-01T18:26:08.835Z,4779.0,CYCLING,LOW
4,32.984000,-96.749578,32.998376,-96.770021,2023-04-02T00:57:32.157Z,2023-04-02T01:24:41.611Z,5383.0,IN_BUS,LOW

In [18]:
place_visits_df.tail()

,latitude,longitude,place_id,address,start_timestamp,end_timestamp,location_confidence,visit_confidence,highest_prob_place_name,highest_prob_probability,city,state,zipcode,country
910,32.993592,-96.750252,ChIJxblxuDSgToYRcn4cxwiPeVU,"3000 Northside Blvd, Richardson, TX 75080, USA",2023-09-30T18:40:48.032Z,2023-09-30T19:02:55.164Z,42,92,The University of Texas at Dallas,10.919032,Richardson,TX,75080,USA
911,32.985697,-96.750247,ChIJpUpeif8hTIYRMROq6TKLCdk,"800 W Campbell Rd, Richardson, TX 75080, USA",2023-09-30T19:12:05.585Z,2023-09-30T20:01:49.834Z,63,77,None,1.521476,Richardson,TX,75080,USA
912,32.998563,-96.769852,ChIJlUIIxBciTIYRJ1BkpUz-9QA,"7575 Frankford Rd, Dallas, TX 75252, USA",2023-09-30T20:17:07.756Z,2023-09-30T21:53:37.869Z,68,78,Estates on Frankford,7.957071,Dallas,TX,75252,USA
913,33.004202,-96.771651,ChIJsXzjiRUiTIYRFWVIzCBQ1Bc,"425 Coit Rd, Plano, TX 75075, USA",2023-09-30T21:56:39.524Z,2023-09-30T22:13:12.006Z,82,91,Sam's Club,0.711459,Plano,TX,75075,USA
914,32.998563,-96.769852,ChIJlUIIxBciTIYRJ1BkpUz-9QA,"7575 Frankford Rd, Dallas, TX 75252, USA",2023-09-30T22:16:38.278Z,2023-10-01T15:05:52.974Z,70,91,Estates on Frankford,8.427990,Dallas,TX,75252,USA

In [20]:
from llama_index.core.indices.vector_store import VectorStoreIndex
from llama_index.core import Document

In [21]:
# Convert DataFrame rows to documents
documents = []
for _, row in place_visits_df.iterrows():
    text = (
        f"Between {row['start_timestamp']} and {row['end_timestamp']}, you were at "
        f"{row['highest_prob_place_name']} ({row['address']}), "
        f"with a visit confidence of {row['visit_confidence']}% and "
        f"location confidence of {row['location_confidence']}%.\n"
        f"Additional details: City - {row['city']}, State - {row['state']}, "
        f"Zipcode - {row['zipcode']}, Country - {row['country']}."
    )
    documents.append(Document(text=text))

In [33]:
documents[1].text

'Between 2023-04-01T02:41:01.332Z and 2023-04-01T03:16:14.978Z, you were at Mapleshade @ Coit - W - FS (425 Coit Rd, Plano, TX 75075, USA), with a visit confidence of 92% and location confidence of 83%.\nAdditional details: City - Plano, State - TX, Zipcode - 75075, Country - USA.'

In [ ]:
from sentence_transformers import SentenceTransformer
from llama_index.core import VectorStoreIndex, Document

# Initialize your embedding model (already done before)
embed_model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

# Create the index
index = VectorStoreIndex.from_documents(documents, embed_model=embed_model)

# Optionally: Save the index to disk
index.save_to_disk("place_visits_index")

In [43]:
from llama_index.core.query_pipeline import (
    QueryPipeline as QP,
    Link,
    InputComponent,
)
from llama_index.experimental.query_engine.pandas import (
    PandasInstructionParser,
)
from llama_index.llms.openai import OpenAI
from llama_index.core import PromptTemplate

In [49]:
instruction_str = (
    "1. Convert the query to executable Python code using Pandas.\n"
    "2. The final line of code should be a Python expression that can be called with the `eval()` function.\n"
    "3. The code should represent a solution to the query.\n"
    "4. PRINT ONLY THE EXPRESSION.\n"
    "5. Do not quote the expression.\n"
)

pandas_prompt_str = (
    "You are working with a pandas dataframe in Python.\n"
    "The name of the dataframe is `df`.\n"
    "This is the result of `print(df.head())`:\n"
    "{df_str}\n\n"
    "Follow these instructions:\n"
    "{instruction_str}\n"
    "Query: {query_str}\n\n"
    "Expression:"
)
response_synthesis_prompt_str = (
    "Given an input question, synthesize a response from the query results.\n"
    "Query: {query_str}\n\n"
    "Pandas Instructions (optional):\n{pandas_instructions}\n\n"
    "Pandas Output: {pandas_output}\n\n"
    "Response: "
)

pandas_prompt = PromptTemplate(pandas_prompt_str).partial_format(
    instruction_str=instruction_str, df_str=place_visits_df.head(5)
)
pandas_output_parser = PandasInstructionParser(place_visits_df)
response_synthesis_prompt = PromptTemplate(response_synthesis_prompt_str)
openai_api_key = "your_api_keyllm = OpenAI(model="gpt-3.5-turbo", api_key=openai_api_key)

In [50]:
qp = QP(
    modules={
        "input": InputComponent(),
        "pandas_prompt": pandas_prompt,
        "llm1": llm,
        "pandas_output_parser": pandas_output_parser,
        "response_synthesis_prompt": response_synthesis_prompt,
        "llm2": llm,
    },
    verbose=True,
)
qp.add_chain(["input", "pandas_prompt", "llm1", "pandas_output_parser"])
qp.add_links(
    [
        Link("input", "response_synthesis_prompt", dest_key="query_str"),
        Link(
            "llm1", "response_synthesis_prompt", dest_key="pandas_instructions"
        ),
        Link(
            "pandas_output_parser",
            "response_synthesis_prompt",
            dest_key="pandas_output",
        ),
    ]
)
# add link from response synthesis prompt to llm2
qp.add_link("response_synthesis_prompt", "llm2")

In [55]:
response = qp.run(
    query_str="Hi can you tell how long i have been in Richardson in minutes?",
)

print(response)

> Running module input with input:
query_str: Hi can you tell how long i have been in Richardson in minutes?

> Running module pandas_prompt with input:
query_str: Hi can you tell how long i have been in Richardson in minutes?

> Running module llm1 with input:
messages: You are working with a pandas dataframe in Python.
The name of the dataframe is `df`.
This is the result of `print(df.head())`:
    latitude  longitude                     place_id  \
0  32.998563 -96...

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Running module pandas_output_parser with input:
input: assistant: ((pd.to_datetime(df[df['city'] == 'Richardson']['end_timestamp']) - pd.to_datetime(df[df['city'] == 'Richardson']['start_timestamp'])).sum() / pd.Timedelta(minutes=1))

> Running module response_synthesis_prompt with input:
query_str: Hi can you tell how long i have been in Richardson in minutes?
pandas_instructions: assistant: ((pd.to_datetime(df[df['city'] == 'Richardson']['end_timestamp']) - pd.to_datetime(df[df['city'] == 'Richardson']['start_timestamp'])).sum() / pd.Timedelta(minutes=1))
pandas_output: There was an error running the output as Python code. Error message: time data "2023-01-13T18:33:15Z" doesn't match format "%Y-%m-%dT%H:%M:%S.%f%z", at position 84. You might want to try:
    - passin...

> Running module llm2 with input:
messages: Given an input question, synthesize a response from the query results.
Query: Hi can you tell how long i have been in Richardson in minutes?

Pandas Instructions (optional):
((pd.to_datetime(df[df['ci...

Traceback (most recent call last):
  File "c:\Users\91944\Downloads\AWS\gmap_Rag\llama_env\lib\site-packages\llama_index\experimental\query_engine\pandas\output_parser.py", line 54, in default_output_processor
    output_str = str(safe_eval(module_end_str, global_vars, local_vars))
  File "c:\Users\91944\Downloads\AWS\gmap_Rag\llama_env\lib\site-packages\llama_index\experimental\exec_utils.py", line 159, in safe_eval
    return eval(__source, _get_restricted_globals(__globals), __locals)
  File "<string>", line 1, in <module>
  File "c:\Users\91944\Downloads\AWS\gmap_Rag\llama_env\lib\site-packages\pandas\core\tools\datetimes.py", line 1067, in to_datetime
    values = convert_listlike(arg._values, format)
  File "c:\Users\91944\Downloads\AWS\gmap_Rag\llama_env\lib\site-packages\pandas\core\tools\datetimes.py", line 433, in _convert_listlike_datetimes
    return _array_strptime_with_fallback(arg, name, utc, format, exact, errors)
  File "c:\Users\91944\Downloads\AWS\gmap_Rag\llama_env\lib\site-packages\pandas\core\tools\datetimes.py", line 467, in _array_strptime_with_fallback
    result, tz_out = array_strptime(arg, fmt, exact=exact, errors=errors, utc=utc)
  File "strptime.pyx", line 501, in pandas._libs.tslibs.strptime.array_strptime
  File "strptime.pyx", line 451, in pandas._libs.tslibs.strptime.array_strptime
  File "strptime.pyx", line 583, in pandas._libs.tslibs.strptime._parse_with_format
ValueError: time data "2023-01-13T18:33:15Z" doesn't match format "%Y-%m-%dT%H:%M:%S.%f%z", at position 84. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
assistant: I'm sorry, there was an error running the code to calculate the time you have been in Richardson in minutes. It seems there is an issue with the date and time format in the data. You may need to adjust the format or try different options as suggested in the error message.

In [ ]:
# Query the index
response = index.query("Where was I on September 30, 2023?")
print(response)